logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver
project/play-fork-run.sbt
project/sbt-ui.sbt
project/build.properties
project/.sbtserver
project/.sbtserver.lock
activator
activator-launch-1.3.2.jar
.DS_Store
